@charset "UTF-8";    /* 文字コードの指定 */

@import url('https://fonts.googleapis.com/css?family=Arvo'); /* Google Fonts用のCSSを読み込み */

html
{
    font-size: 62.5%; /*デフォルト16pxの62.5%=10px。こうすると以降計算が簡単になる。*/
}

body
{
    font-family: '游明朝体', 'Yu Mincho','ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','メイリオ', Meiryo, serif;
    font-size: 1.4rem; /*=root em。10px（root=html要素）の1.4倍＝14px*/
    line-height: 1.6; /*行の高さ。文字の高さを揃える。前後の行間はここで調整。単位はいらない。1.5~2くらいが良い。1=文字の高さ。*/
    letter-spacing: 0.1em; /*文字と文字の間隔調整。必ずem。1文字の0.1倍くらいが良い。*/
    color: #4c4c4c; /*文字の色*/
    background-color: #F1FFFA;　/*背景の色*/
}

a　/*リンクのデザイン*/
{
    text-decoration: none; /*初期値はunderline*/

    color: #14c0c9;
}

a:visited　/*訪問済みリンク*/
{
    color: #0f949b;
}

a:hover　/*リンクにカーソルを合わせたとき*/
{
    color: #0f949b;
    text-decoration: underline;
}

a:active　/*リンクをクリックしたとき*/
{
    color: #16d6e0;
}

.text-center
{
    text-align: center;
}

.block-center,
section .container,
#skills i
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.abel,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    font-family: 'Arvo', serif;
}

.uppercase,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    text-transform: uppercase;
}

.button-contact /*ヘッダーのコンタクトボタンのデザイン*/
{
    font-size: 20px; /*アイコンフォントは、通常のテキストと同じくfont-sizeで大きさを変更することができます。*/
    line-height: 0; /*行の高さがあると、中央に表示されないため0でリセット*/
    display: block;
    /*<a>などのインライン要素は、幅と高さの指定をしても無視されるため、displayプロパティでブロック要素のように扱います*/
    float: right; /*サイト右側に表示*/
    width: 20px; /*アイコンの幅*/
    height: 20px; /*アイコンの高さ*/
    margin: 20px 20px 0 0; /*サイトの上と右からの距離。*/
    padding: 10px; /*アイコンと枠線の間の距離*/
    text-align: center; /*アイコンを真ん中に表示*/
    color: #4c4c4c; /*アイコンの色*/
    border: 2px solid #4c4c4c; /*線の幅　線の種類　線の色*/
    -webkit-border-radius: 4px;  /*border-radiusと併せて表記*/
       -moz-border-radius: 4px; /*border-radiusと併せて表記*/
            border-radius: 4px; /*枠線の角を丸くする*/
}
.button-contact:visited
{
    color: #4c4c4c;
}
.button-contact:hover,
.button-contact:active
{
    color: #fff;
    background-color: #4c4c4c;
}

header .profile
{
    clear: both;
    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}
header .site-title
{
    font-size: 1.8rem;
    line-height: normal;
}
header .site-title span
{
    font-size: 4.2rem;
    display: block;
}
header .profile-icon
{
    margin: 30px auto;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
header p
{
    font-size: 1.6rem;
}

section
{
    padding: 60px 0;
}
section .container
{
    width: 90%;
}
section h2
{
    font-size: 3.2rem;
}

#skills
{
    background-color: #FFF2A2;
}
#skills .container
{
    display: -webkit-flex;
    display:         flex;
    justify-content: space-between;
}
#skills h2
{
    margin-bottom: 60px;
}
#skills .skill-box
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    margin: 0px 10px;
    padding: 20px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #F1FFFA;
}
#skills i
{
    font-size: 4.5rem;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #90E865;
}
#skills h3
{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #90E865;
}

#works
{
    padding-bottom: 0;
}
#works h2
{
    margin-bottom: 50px;
}
#works .works-box
{
    float: left;
    width: 33.33333%;
    height: 100%;
}

#works .works-box a
{
    position: relative;
    display: block;
}
#works .works-box a .works-box-inner
{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}
#works .works-box a .works-box-inner div
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40%;
    margin: auto;
    padding: 10px 20px;
}
#works .works-box a .works-box-inner h3
{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 0 5px;
}
#works .works-box a .works-box-inner small
{
    font-size: 1rem;
    display: block;
    margin-bottom: 15px;
}
#works .works-box a .works-box-inner .button-readmore
{
    font-size: 1rem;
    font-weight: bold;
    display: block;
    width: 180px;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #90E865;
}
#works .works-box a .works-box-inner .button-readmore:hover
{
    background-color: #67A648;
}
#works .works-box a:hover .works-box-inner
{
    display: block;
    width: 100%;
}
#works .works-box img
{
    display: block;
    max-width: 100%;
}

#works::after
{
    display: block;
    clear: both;
    content: '';
}

#contact ul
{
    margin-top: 60px;
    text-align: center;
}
#contact ul li
{
    font-size: 2.8rem;
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 20px;
    text-align: center;
    vertical-align: top;
}
#contact ul li:last-child
{
    margin-right: 0;
}
#contact ul .github,
#contact ul .skype
{
    font-size: 3.2rem;
}
#contact ul .github i
{
    margin-left: 2px;
}
#contact ul a
{
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #90E865;
}
#contact ul a:hover
{
    background-color: #67A648;
}

footer
{
    padding: 10px 0;
    text-align: center;
    background-color: #FFF2A2;
}